<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-wheels-1-arm</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="views/css/cover.css" rel="stylesheet">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="socket.io.js"></script>
   <script src="chart.js"></script>
   <script src="views/js/service.js"></script>
   <script src="views/js/draw.js"></script>
   <script src="views/js/init.js"></script>
</head>

<body>
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div style="margin-top: 30px;">
              <h3 class="masthead-center"><a href="" style="color: #fff">AI - Evolution Programs</a></h3>
            </div>
          </div>

          <div class="inner cover" id="myForm">
            <h1 class="cover-heading">Two wheels one arm</h1>
            <br/>
            <h4 class="form-group col-xs-12 col-md-12">
              <a id="show_form_param">Configure algorithm launcher</a>
              or
              <a id="show_form_select">Select a simulation backup</a>
            </h4>
            <div id="form_param">
              <div class="row">
                <div class="col-xs-2 col-md-2">
                  <p class="p_perso text-right">
                    Population Size
                  </p>
                  </div>
                  <div class="form-group col-xs-2 col-md-2">
                   <input id="populationSize" type="text" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="col-xs-2 col-md-2">
                  <p class="p_perso text-right">
                    Population Renewal Rate
                  </p>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                 <input id="populationRenewalRate" type="text" class="form-control" aria-describedby="basic-addon2">
              </div>
              <div class="col-xs-2 col-md-2">
                <p class="p_perso text-right">
                  Mutation rate
                </p>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                 <input id="mutationRate" type="text" class="form-control" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2">
                <p class="p_perso text-right">
                  Simulation cycles
                </p>
              </div>
              <div class="form-group col-xs-2 col-md-2">
               <input id="simulationCycles" type="text" class="form-control" aria-describedby="basic-addon2">
            </div>
            <!-- <div class="col-xs-2 col-md-2">
              <p class="p_perso text-right">
                Population Size :
              </p>
            </div>
            <div class="form-group col-xs-2 col-md-2">
             <input id="mutationrate" type="text" class="form-control" aria-describedby="basic-addon2">
          </div>
          <div class="col-xs-2 col-md-2">
            <p class="p_perso text-right">
              Mutation rate :
            </p>
          </div>
          <div class="form-group col-xs-2 col-md-2">
           <input id="mutationrate" type="text" class="form-control" aria-describedby="basic-addon2">
        </div> -->
        </div
      </div>
            </div>
            <div style="display: none" class="row" id="form_select">
               <div class="form-group">
                 <select id="saved_file" class="select_perso">
                 </select>
               </div>
            </div>
            <br/>
            <p class="lead">
              <a id="launch_simulation" class="btn btn-lg btn-default">Launch simulation</a>
            </p>
          </div>

        </div>

        <canvas style="display: none; padding: 5%" id="myChart"></canvas>

        <div class="cover-container inner cover">

          <div class="mastfoot">
            <div class="inner">
              <p>Project made by <a>Nicolas</a>, <a>Adrien</a>, <a>Etienne</a>, <a>Toma</a></p>
            </div>
          </div>

        </div>

      </div>
</body>
</html>
