<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-wheels-1-arm</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="chart.js"></script>
   <script src="service.js"></script>
   <script src="draw.js"></script>
   <script src="init.js"></script>
</head>

<body>

<h1>2-wheels-1-arm</h1>

<ul id="saved_file"></ul>

<button id="launch_simulation">live</button>

<div style="position: relative;height:400;width: 400">
<canvas id="myChart" width="400" height="400"></canvas>
</div>
</body>
</html>